
	<div class="grid-x align-middle" id="footerbar">
	<div class="c hide-for-small-only"></div>
	<div class="d hide-for-medium"></div>	
	
		<img src="/assets/logo/vacit-logo-white.png" class="media-object-section margin-left-1 margin-bottom-2 margin-top-1 hide-for-small-only" style="height: 8%; width: 8%;">
		<img src="/assets/logo/vacit-logo-white.png" class="media-object-section margin-left-1 margin-bottom-1 margin-top-1 hide-for-medium" style="height: auto; width: 130px; margin-top:-20%>
     	</div>

    



