<div class="fixed-bottom margin-top-3">

	<div class="grid-x align-bottom" id="headerbar">
	<div class="a" style="margin-bottom: 1%"></div>
		<div class="cell medium-4 medium-cell-block-y">
			<img src="/assets/logo/vacit-logo-white.png" class="media-object-section align-middle margin-left-1" style="height: 30%; width: 30%;">
		</div>
     	</div>
         <div class="cell medium-8 medium-cell-block-y float-right">
         </div>
</div>