<div class="grid-x padding-x align-middle padding-bottom-1" id="footerbar" style="width: 100%;">
	<div class="cell small-4">
		<img src="/assets/logo/vacit-logo-white.png" class="media-object-section margin-left-3 margin-bottom-1 margin-top-2 hide-for-medium" style="height: auto; width: 150px;">
	</div>
	<div class="cell small-3 margin-top-2"></div>
	<div class="cell small-5 margin-top-2">
		<a href="/showAllJobs/">
			<h1 style="color: white !important; font-size: 200% !important;">All vacancies &nbsp; &nbsp;<i class="fas fa-arrow-right" style="color: white; font-size: 100%; cursor: pointer;"></i>
			</h1>
		</a>
	</div>
</div>
