

<div class="header">

	<div class="grid-x align-middle" id="headerbar">
	
		<div class="cell medium-4 medium-cell-block-y float-center" >
			<img src="/assets/logo/vacit-logo-white.png" class="media-object-section align-middle margin-left-1" id="icon">
		</div>
     
		{% if app.user %}

			 <div class="cell medium-8 medium-cell-block-y float-right hide-for-small-only" style="margin-bottom: -1%">
			<ul id="headertext" class="float-right">LOGOUT</ul>
				<ul id="headertext" class="float-right">MY PROFILE</ul>
				<ul id="headertext" class="float-right">MY APPLICATIONS</ul>
				
			</div>
     
		{% else %}
			<div class="cell medium-8 medium-cell-block-y float-right hide-for-small-only" style="margin-bottom: -1%">
				<ul id="headertext" class="float-right">REGISTER</ul>
				<ul id="headertext" class="float-right">LOGIN</ul>
			</div>
		{% endif %}

	</div>
    <div class="a hide-for-small-only"></div>
	<div class="b hide-for-medium"></div>
</div> 
	 
{% if app.user %}
<nav role='navigation' class="hide-for-medium" >
  <div id="menuToggle" style="margin-top: -10%; margin-right: -4%;">
    <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
    <input type="checkbox" />
    
    <!--
    Some spans to act as a hamburger.
    
    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
    <span></span>
    <span></span>
    <span></span>
    
    <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
    <ul id="menu">
      <a href="#"><li>MY PROFILE</li></a>
      <a href="#"><li>MY APPLICATIONS</li></a>
      <a href="#"><li>INFO</li></a>
    </ul>
  </div>
</nav>
{% else %}
<nav role='navigation' class="hide-for-medium" >
  <div id="menuToggle" style="margin-top: -10%; margin-right: -4%;">
    <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
    <input type="checkbox" />
    
    <!--
    Some spans to act as a hamburger.
    
    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
    <span></span>
    <span></span>
    <span></span>
    
    <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
    <ul id="menu">
      <a href="#"><li>LOGIN</li></a>
      <a href="#"><li>REGISTER</li></a>
    </ul>
  </div>
</nav>
{% endif %}