{% extends 'base.html.twig' %}

{% block title %}invite applicant{% endblock %}

{% block body %}
<main class="content">
  {{dump(application)}}
</main>
  <footer class="footer">
        {% include "headerfooter/footer.html.twig" %}
        </footer>  
{% endblock %}