
{% extends 'base.html.twig' %}

{% block stylesheets %}
   <script>
        $(document).ready(function () {
            var table = $('#application').DataTable({
                destroy: true,
                      paging: true,
                      searching: false,
                      ordering: true,
                      bInfo: false,
                      fixedColumns: true,
                      bLengthChange: false,
                      pageLength: 10,
                      
            });
        });
    </script>
{% endblock %}
{% block title %}My Applications{% endblock %}

{% block body %}
<div class="grid-x padding-x margin-top-2">
 <div class="cell medium-2 hide-for-small-only padding-left-3 padding-right-2">
<div class="hexagon">
{% if user.userpicture|length > 2 %}
    <img class="hexagonpic" src="{{ asset( user.userpicture )}}" style="border: none"></img>
    {% else %}
    <img class="hexagonpic" src="https://lh3.googleusercontent.com/EbXw8rOdYxOGdXEFjgNP8lh-YAuUxwhOAe2jhrz3sgqvPeMac6a6tHvT35V6YMbyNvkZL4R_a2hcYBrtfUhLvhf-N2X3OB9cvH4uMw=w1064-v0" id="imgactual" style="border: none"></img>
    {% endif %}               
    </div>
 </div>

 <div class="cell medium-10 padding-right-3 padding-left-3 small-12">
<h1>My Applications</h1>
<table id="application" class="display nowrap dataTable order-column" style="border-collapse: collapse;
  table-layout: fixed;
  width: 100%;">
    <thead>
    <tr>
        <th style="text-align: center;">DATE</th>
        <th style="text-align: center;">JOB</th>
        <th style="text-align: center;">COMPANY</th>
        <th style="text-align: center;">INVITED</th>
    </tr>
    </thead>
    <tbody style="text-align: center;  text-overflow: clip; overflow: clip;
white-space: nowrap">
    {% for application in applications %}
    <tr>
    <td>{{application.applicationdate|date("d/m/Y")}}</td>
    <td style=" text-overflow: clip; overflow: clip;
white-space: nowrap;">{{application.jobtitle}}</td>
    <td style=" text-overflow: clip; overflow: clip;
white-space: nowrap;">{{application.applicationcompany}}</td>
    {% if application.applicationinvitation == 0 %}
    <td></td>
    {% else %}
    <td><i class="fa fa-check" aria-hidden="true" style="font-size: 150%; color: #F15A24;"></i></td>
    {% endif %}
   </tr>
    {% endfor %}
    </tbody>
</table>
</div>

</div>
{% endblock %}