{% extends 'base.html.twig' %}
{% block stylesheets %}
<script>
    $(document).ready(function() {
   var mySlides = [
            { src: "https://cdn.plein.nl/afbeeldingen/-1534947491.jpg", title: "A City", subtitle: "Somewhere" },
            { src: "https://cdn.webshopapp.com/shops/122302/files/280641790/854x640x1/de-beste-tips-om-je-hond-alleen-thuis-te-laten.jpg", title: "Cats are cute", subtitle: "Sometimes" },
            { src: "https://images1.persgroep.net/rcs/8MfaIkowAdei9GIFM4fmdzVyaUA/diocontent/100419143/_fitwidth/763?appId=93a17a8fd81db0de025c8abd1cca1279&quality=0.8", title: "All people are different", subtitle: "On this planet anyway..." },
        ];

$("#background-image").vegas({
            overlay: 'vegas/overlays/02.png',
            slides: mySlides,
            walk: function (index, slideSettings) {
                  $(".text-block h1").html(mySlides[index].title);
                  $(".text-block h4").html(mySlides[index].subtitle);
            }
        });

      }) 
</script>

{% endblock %}
{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<main class="content" style="background-color: #F15A25; z-index: 50 !important;">
<div class="vegashexagon">
  
     <div id="background-image" style="overflow: hidden !important; height: 400px; width: 400px;">
        <div class="container">
            <div class="text-block">
                <h1 style="text-align: center;">Title</h1>
            </div>
        </div>
    
    </div>     

</div>
</main>
{# {{dump(jobs)}} #}
{% endblock %}
