{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<main class="content" style="background-color: #F15A25; z-index: 50 !important;">
<div style='background-color: blue;'>

</div>
</main>
{% endblock %}
