{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<main class="content" style="background-color: black !important;">
<div style='background-color: blue;'>

</div>
</main>
{% endblock %}
