<!DOCTYPE html>
<html>
<head>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body onload="onload()">
<script>
function onload() {
swal({
    title: "Oops, you took a wrong turn!",
    icon: "error",
     button: { text:'Go back' },
}).then(function() {
    window.location = 'javascript:history.back()';
});
}
</script>

</body>
</html>

