<!DOCTYPE html>
<html>
<body onload="onload()">
<script>
function onload() {
  alert("⚠️ You do not have permission to perform this action! ⚠️");
  window.location = 'javascript:history.back()';
}
</script>

</body>
</html>
