{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<img src="/assets/logo/exc.png" class="float-left" id="loginlogo"> </img>
<div class="width-50 float-center" id="login">
<form method="post">

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    <div class="grid-x padding-x">
    <label for="inputUsername">Username</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
    </div>
    <div class="grid-x padding-x">
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>
    </div>


    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    <button class="btn btn-lg btn-primary" type="submit">
        <p style="font-size: 70%; color: #F15A24;">Forgot your password?</p>
    </button>
</form>
</div>
{% endblock %}
