<!DOCTYPE html>
<html>
<head>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body onload="onload()">
<script>
function onload() {
swal({
    title: "A link to renew your password has been sent to your email.",
    text: "If you don't receive an email please check your spam folder.",
    icon: "success",
     button: { text:'Return to login' },
}).then(function() {
    window.location = '/login';
});
}
</script>

</body>
</html>