{% extends 'base.html.twig' %}

{% block title %}Create Vacancy{% endblock %}

{% block body %}
<form method="post">
    <h1 class="h3 mb-3 font-weight-normal">Create a new Vacancy</h1>
    <button class="btn btn-lg btn-primary" type="submit">
        Submit
    </button>
</form>
{% endblock %}